reg_rws_api/src/main/resources/AttachmentReferencePayload.rnc

default namespace = "http://www.arin.net/regrws/core/v1"

start =
  notAllowed
  | element attachmentReference {
      ( element attachmentId { \string } &
        element attachmentFilename { \string }
      )
      & external "utils/foreignElements.rnc"*
    }
\string = xsd:string { minLength = "1" }
